.header_page{
    padding: 20px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: red;
    font-size: 30px;
}